@import "tailwindcss";

:root {
	--background: #ffffff;
	--foreground: #000000;
	--primary: #2c41cb;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-primary: var(--primary);
	--font-sans: var(--font-roboto);
}

html {
	scroll-behavior: smooth;
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: var(--font-sans);
}

.custom-container {
	@apply max-w-300 mx-auto px-4 sm:px-6 lg:px-8;
}

@keyframes marquee {
	0% {
		transform: translateX(0);
	}

	100% {
		transform: translateX(-50%);
	}
}

.marquee {
	animation: marquee 20s linear infinite;
}

.marquee:hover {
	animation-play-state: paused;
}
